{% extends '::base.html.twig' %}
{% block body %}
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ path('home') }}" class="breadcrumb">Home</a>
            <a href="{{ path('product_index') }}" class="breadcrumb">Liste produits</a>
            <a href="{{ path('product_create') }}" class="breadcrumb">creation produit</a>
        </div>
    </div>
</nav>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}