{% extends '::base.html.twig' %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('customer_index') }}" class="breadcrumb">Liste client</a>
                <a href="{{ path('customer_index_by_costumer', {'id' : customer.id } ) }}" class="breadcrumb">Client : {{ customer.name }}</a>
                <a href="{{ path('product_create') }}" class="breadcrumb">creation commande</a>
            </div>
        </div>
    </nav>
    <div class="row form-orderCustomer-row">
        <div class="col s6">
            <img src="">
        </div>
        <div class="col s6 form-orderCustomer-col">
            <div><p>Bon de commande N°</p><p>2017</p></div>
            <label>Société :</label>
                <p>{{ customer.ranking }}</p>
            <label>Facturation :</label>
                <p>{{ customer.id }}</p>
            <label>livraison :</label>
                <p>{{ customer.id }}</p>
            <label>Tél :</label>
                <p>{{ customer.phoneNumber }}</p>
            <label>Fax :</label>
                <p>{{ customer.id }}</p>
        </div>
    </div>
    <div class="row form-orderCustomer-row">
        <div class="col s6 form-orderCustomer-col">
            <label>Représentant :</label>
                <p>{{ customer.id }}</p>
            <label>Mode de Règlement :</label>
                <p>{{ customer.id }}</p>
            <label>date livraison :</label>
                <p>{{ customer.id }}</p>
            <label>Commentaire :</label>
                <p>{{ customer.id }}</p>
        </div>
        <div class="col s6 form-orderCustomer-col">
            <label>Siret :</label>
                <p>{{ customer.id }}</p>
            <label>N° Intracom :</label>
                <p>{{ customer.id }}</p>
        </div>
    </div>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th class="center">Reference</th>
                <th class="center">Nom commercial</th>
                <th class="center">Prix unitaire</th>
                <th class="center">Quantité</th>
                <th class="center">Prix totale HT</th>
                <th class="center">Prix totale TCC</th>
            </tr>
        </thead>
    <tbody class="co-js-search">
        <tr>
            <td class="center"><input type="text" class="search-order" data-url="{{ path('product_search') }}" data-url-insert ={{ path('order_insert_product') }}></td>
            <td class="center"><input type="text" ></td>
            <td class="center"><input type="text" ></td>
            <td class="center"><input type="text" ></td>
            <td class="center"><input type="text" ></td>
            <td class="center"><input type="text" ></td>
        </tr>
    </tbody>
    <input class="customer-id" type="hidden" value="{{ customer.id }}">
    <input class="quantity" type="hidden" value="">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Definition du prix</h4>
            <input type="number" class="co-js-price-modal">
        </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Definir quantité</h4>
            <input type="number" class="co-js-quantity-modal">
        </div>
    </div>
    <div id="modalDoublon" class="modal">
        <div class="modal-content center">
            <h4>vous avez deja enregister ce produit</h4>
        </div>
    </div>
    <div id="modalReferenceNotExist" class="modal">
        <div class="modal-content center">
            <h4>la reference n'existe pas</h4>
        </div>
    </div>
        {#<td class="center price-product-ht">{{ priceHT }}<i class="material-icons co-js-update-prixHT" data-id="{{ productByOrder.id }}">create</i></td>#}
        {#<td class="center price-product-ttc">{{ priceTTC }}<i class="material-icons co-js-update-prixTTC" data-id="{{ productByOrder.id }}">create</i></td>#}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script src="{{ asset('js/formOrder.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}