{% extends '::base.html.twig' %}
{% block title %}CJ Commande {{ orderCustomer.name }}{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">{{ 'home'|trans|capitalize }}</a>
                <a href="{{ path('orderCustomer_index') }}" class="breadcrumb">{{ 'list_of_orders'|trans|capitalize }}</a>
                <a href="{{ path('orderCustomer_index_by_orderCustomer', {'id': orderCustomer.id }) }}" class="breadcrumb">{{ 'orders'|trans|capitalize }} : {{ orderCustomer.name }}</a>
                <a href="{{ path('customer_index_by_costumer', {'id': customer.id }) }}" class="mgr-L-10">({{ 'order'|trans|capitalize }}: {{ customer.numberAccount }})</a>
            </div>
        </div>
    </nav>
    <div class="row form-orderCustomer-row">
        <div class="col s6 center">
            <img class="width-50 center" src="{{ asset('/img/ardi.png') }}" >
        </div>
        <div class="col s6 form-orderCustomer-col">
            <div><p>{{ 'purchase_order'|trans|capitalize }}</p><p>{{ orderCustomer.name }}</p></div>
            <label>{{ 'society'|trans|capitalize }} :</label>
                <p>{{ customer.ranking }}</p>
            <label>{{ 'billing'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
            <label>{{ 'delivery'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
            <label>{{ 'phoneNumber'|trans|capitalize }} :</label>
                <p>{{ customer.phoneNumber }}</p>
            <label>{{ 'fax'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
        </div>
    </div>
    <div class="row form-orderCustomer-row">
        <div class="col s6 form-orderCustomer-col">
            <label>{{ 'representative'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
            <label>{{ 'payment_choice'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
            <label>{{ 'delivery_date'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
            <label>{{ 'comment'|trans|capitalize }} :</label>
                <p>{{ customer.id }}</p>
        </div>
        <div class="col s6 form-orderCustomer-col">
            <label>Siret :</label>
                <p>{{ customer.id }}</p>
            <label>N° Intracom :</label>
                <p>{{ customer.id }}</p>
        </div>
    </div>
    <table class="table striped mgr-B-100">
        <thead>
            <tr>
                <th class="center">{{ 'reference'|trans|capitalize }}</th>
                <th class="center">{{ 'trade_name'|trans|capitalize }}</th>
                <th class="center">{{ 'unit_price'|trans|capitalize }}</th>
                <th class="center">{{ 'amount'|trans|capitalize }}</th>
                <th class="center">{{ 'price_wt'|trans|capitalize }}</th>
                <th class="center">{{ 'price_iot'|trans|capitalize }}</th>
            </tr>
        </thead>
        <tbody class="co-js-search">
            {% for ProductOrder in ProductsOrder %}
                <tr class="co-js-search-result">
                    <td class="center co-js-ref">{{ ProductOrder.Product.reference }}</td>
                    <td class="center">{{ ProductOrder.Product.name }}</td>
                    <td class="center">{{ ProductOrder.price }}</td>
                    <td class="center">{{ ProductOrder.quantity }}</td>
                    <td class="center price-product-ht">{{ ProductOrder.priceHT }}</td>
                    <td class="center price-product-ttc">{{ ProductOrder.priceTTC }}</td>
                    <td class="center">
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row index-orderCustomer-footer">
        <div class="col s3">
            <label>{{ 'vat'|trans|upper }}</label>
            <p>{{ orderCustomer.tva }}</p>
        </div>
        <div class="col s3">
            <label>{{ 'price_without_tax'|trans|capitalize }}</label>
            <p>{{ orderCustomer.totalHT }}</p>
        </div>
        <div class="col s3">
            <label>{{ 'price_inclusive_of_tax'|trans|capitalize }}</label>
            <p>{{ orderCustomer.totalTTC }}</p>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn-large float-l" href="{{ path('pdf_by_order', {'orderCustomer' : orderCustomer.id }) }}"><i class="material-icons left">file_download</i>{{ 'export_pdf'|trans|capitalize }}</a>
        </div>
    </div>

{% endblock %}
