<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_dir ~ asset('css/materialize.min.css') }}" media="screen,projection"/>
        <link rel="stylesheet" href="{{ base_dir ~ asset('css/master.css') }}"/>
    </head>
    <body>
        <div class="row form-orderCustomer-row">
            <div class="col s6">
                <img class="width-100" src="{{ base_dir ~ asset('/img/ardi.png') }}" >
            </div>
            <div class="col s6 form-orderCustomer-col">
                <div><p>Bon de commande N°</p><p>2017</p></div>
                <label>Société :</label>
                <p>{{ customer.ranking }}</p>
                <label>Facturation :</label>
                <p>{{ customer.id }}</p>
                <label>livraison :</label>
                <p>{{ customer.id }}</p>
                <label>Tél :</label>
                <p>{{ customer.phoneNumber }}</p>
                <label>Fax :</label>
                <p>{{ customer.id }}</p>
            </div>
        </div>
        <div class="row form-orderCustomer-row">
            <div class="col s6 form-orderCustomer-col">
                <label>Représentant :</label>
                <p>{{ customer.id }}</p>
                <label>Mode de Règlement :</label>
                <p>{{ customer.id }}</p>
                <label>date livraison :</label>
                <p>{{ customer.id }}</p>
                <label>Commentaire :</label>
                <p>{{ customer.id }}</p>
            </div>
            <div class="col s6 form-orderCustomer-col">
                <label>Siret :</label>
                <p>{{ customer.id }}</p>
                <label>N° Intracom :</label>
                <p>{{ customer.id }}</p>
            </div>
        </div>
        <table class="table striped mgr-B-100">
            <thead>
            <tr class="f-s-12">
                <th class="center">Reference</th>
                <th class="center">Nom commercial</th>
                <th class="center">Prix unitaire</th>
                <th class="center">Quantité</th>
                <th class="center">Prix totale HT</th>
                <th class="center">Prix totale TCC</th>
            </tr>
            </thead>
            <tbody class="co-js-search mgr-T-50">
            {% set endFirst = (ProductsOrder|length <= 8)?ProductsOrder|length-1:7%}
                {% for ProductOrder in 0..endFirst %}
                    <tr class="co-js-search-result f-s-10">
                        <td class="center co-js-ref">{{ ProductsOrder[loop.index0].product.reference }}</td>
                        <td class="center">{{ ProductsOrder[loop.index0].Product.name }}</td>
                        <td class="center">{{ ProductsOrder[loop.index0].price }}</td>
                        <td class="center">{{ ProductsOrder[loop.index0].quantity }}</td>
                        <td class="center price-product-ht">{{ ProductsOrder[loop.index0].priceHT }}</td>
                        <td class="center price-product-ttc">{{ ProductsOrder[loop.index0].priceTTC }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if endFirst == 7 %}
        {% set index = 7 %}
        {% set nbPage = ((ProductsOrder|length - 8)/18)|round(0, 'ceil') %}
        {% set start = index + 1  %}
        {% set indexProduct = start  %}
        {% set end = index + 18 %}
        {% for mult in 0..nbPage-1 %}
            <p style="page-break-after: always;">&nbsp;</p>
            <table class="table striped mgr-B-100">
                <thead>
                <tr class="f-s-12">
                    <th class="center">Reference</th>
                    <th class="center">Nom commercial</th>
                    <th class="center">Prix unitaire</th>
                    <th class="center">Quantité</th>
                    <th class="center">Prix totale HT</th>
                    <th class="center">Prix totale TCC</th>
                </tr>
                </thead>
                <tbody class="co-js-search mgr-T-50">
                    {% for ProductOrder in start..end %}
                            <tr class="co-js-search-result f-s-10">
                                <td class="center co-js-ref">{{ ProductsOrder[indexProduct].product.reference }}</td>
                                <td class="center">{{ ProductsOrder[indexProduct].Product.name }}</td>
                                <td class="center">{{ ProductsOrder[indexProduct].price }}</td>
                                <td class="center">{{ ProductsOrder[indexProduct].quantity }}</td>
                                <td class="center price-product-ht">{{ ProductsOrder[indexProduct].priceHT }}</td>
                                <td class="center price-product-ttc">{{ ProductsOrder[indexProduct].priceTTC }}</td>
                            </tr>
                        {% set indexProduct = indexProduct + 1 %}
                    {% endfor %}
                    {% set start = start + 18  %}
                    {% set end = (end+18 > 42)?ProductsOrder|length - 1:end + 18  %}
                </tbody>
            </table>
        {% endfor %}
        {% endif %}

        <div class="row index-orderCustomer-footer">
            <div class="col s4">
                <label>Tva</label>
                <p>{{ orderCustomer.tva }}</p>
            </div>
            <div class="col s4">
                <label>Prix Hors Taxe</label>
                <p>{{ orderCustomer.totalHT }}</p>
            </div>
            <div class="col s4">
                <label>Prix Tout Taxe Compris</label>
                <p>{{ orderCustomer.totalTTC }}</p>
            </div>
        </div>
    </body>
</html>