{% extends '::base.html.twig' %}
{% block body %}
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ path('home') }}" class="breadcrumb">Home</a>
            <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
            <a href="{{ path('customer_create') }}" class="breadcrumb">creation client</a>
        </div>
    </div>
</nav>
    {{ form_errors(form) }}

    <div class="row">
        <div class="col s6 center-align">
            <img width="44%" src="{{ asset('img/office.png') }}">
        </div>
        <div class="col s6">
            {{ form_row(form.numberAccount, { 'label': 'N° Compte' }) }}
            {{ form_row(form.entitled, { 'label': 'Intitulé' }) }}
            {{ form_row(form.ranking, { 'label': 'Classement' }) }}
            {{ form_row(form.nameRepresentative, { 'label': 'Nom du représentant' }) }}
            {{ form_row(form.price, { 'label': "Catégorie Tarifaire" }) }}
        </div>
        <div class="col s12">
            <div class="col s6">
                {{ form_row(form.name, { 'label': 'Nom' }) }}
                {{ form_row(form.address, { 'label': 'Adresse' }) }}
                {{ form_row(form.city, { 'label': "Ville" }) }}
                {{ form_row(form.phoneNumber, { 'label': "Numéro de téléphone" }) }}
            </div>
            <div class="col s6">
                {{ form_row(form.email, { 'label': 'Email' }) }}
                {{ form_row(form.additionalAddress, { 'label': "Complement d'adresse" }) }}
                {{ form_row(form.zipCode , { 'label': "Code postale" }) }}
                {{ form_row(form.submit, { 'label': 'Submit me' }) }}
            </div>
        </div>
    </div>

{% endblock %}
