{% extends '::base.html.twig' %}
{% block title %}CJ Creation Fournisseur{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">{{ 'home'|trans|capitalize }}</a>
                <a href="{{ path('product_index') }}" class="breadcrumb">{{ 'list_of_products'|trans|capitalize }}</a>
            </div>
        </div>
    </nav>
    {{ form_start(form) }}
    <div class="row mgr-T-15 ">
    <div class="col s12">
        <div class="col s6 center-align form-orderCustomer-img">
                <img width="44%" src="{{ asset('img/office.png') }}">
        </div>
        <div class="col s6 form-orderCustomer-input">
            {{ form_row(form.name, {
                'label': 'name'|trans|capitalize,
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.address, {
                'label': 'addresse',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.zipCode, {
                'label': 'zip code',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}

        </div>
    </div>

    <div class="col s12">
        <div class="col s6 form-orderCustomer-input">
            {{ form_row(form.siret, {
                'label': 'siret',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.type, {
                'label': 'type',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.franco, {
                'label': 'franco',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.paymentCondition, {
                'label': 'payment condition',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
        </div>
        <div class="col s6 form-orderCustomer-input">
            {{ form_row(form.deliveryTime, {
                'label': 'delivery time',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.productDefinition, {
                'label': 'product definition',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
            {{ form_row(form.priceDefinition, {
                'label': 'price definition',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}
        </div>
    </div>

    {{ form_errors(form) }}

    {{ form_end(form) }}
{% endblock %}