{% extends '::base.html.twig' %}
{% block title %}CJ Formulaire Client{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
                <a href="{{ path('customer_create') }}" class="breadcrumb">creation client</a>
            </div>
        </div>
    </nav>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row mgr-T-15 ">
        <div class="col s6 center-align form-orderCustomer-img">
            <img width="44%" src="{{ asset('img/office.png') }}">
        </div>
        <div class="col s6 form-orderCustomer-input">
            <label class="f-s-20 color-text-master">Objectif sur la vente de produit par semestre</label>
            {{ form_row(form.goalOneRef, {
                'label': 'Reference Prouduit',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
            {{ form_row(form.goalOne, {
                'label': 'Nombre a réaliser',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}


            <div class="divider mgr-T-15 mgr-B-10"></div>
            <label class="f-s-20 color-text-master">Objectif chiffre menstruelle</label>
            {{ form_row(form.goalThree, {
                'label': 'Nombre a réaliser',
                'attr': {'style': 'margin-bottom:15px'}
            })
            }}

            <div class="divider mgr-T-15 mgr-B-10"></div>
            <label class="f-s-20 color-text-master">Objectif chiffre annuel</label>
            {{ form_row(form.goalTwo, {
                'label': 'Nombre a réaliser',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}

        </div>
        <div>
            <div>
                <div class="center-align form-save-customer">
                    <button id="appbundle_customer_save" class=" col s12 btn waves-effect waves-light" type="submit" name="appbundle_customer[save]">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
