{% extends '::base.html.twig' %}
{% block title %}CJ Parametre compte{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
                <a href="{{ path('customer_create') }}" class="breadcrumb">creation client</a>
            </div>
        </div>
    </nav>
    {#{{ dump(user) }}#}
    <div class="card-panel pad-15 mgr-R-15 mgr-L-15">
        <span class="blue-text text-darken-2 f-s-30 ">Parametres compte</span>
    </div>
    <div class="container">
        <div class="row">
            <div class=" hover-view">
                <label>Nom d'utilisateur</label><br>
                <span>{{ user.username }}</span>
                <span><i class="material-icons ">edit</i></span>
            </div>
        </div>
        <div class="row">
            <div class="hover-view">
                <label>Email</label><br>
                <span>{{ user.email }}</span>
                <span><i class="material-icons ">edit</i></span>
            </div>
        </div>
            <div class="row">
                <div class="">
                    <a href="{{ path('fos_user_change_password') }}">changer mots de passe</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block more_js %}
    <script src="{{ asset('js/user.js') }}"></script>
{% endblock %}