{% extends '::base.html.twig' %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('statistical_list') }}" class="breadcrumb">Liste statistiques</a>
                <a href="{{ path('product_create') }}" class="breadcrumb">creation statistique</a>
            </div>
        </div>
    </nav>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row mgr-T-15 ">
        <div class="col s12">
            {{ form_row(form.name, {
                    'label': 'Periode',
                    'attr': {'style': 'margin-bottom:15px'}
                })
            }}
        </div>
        <div class="col s12">
            <div class="col s6">
                {{ form_row(form.period, {
                        'label': 'Periode',
                        'attr': {'style': 'margin-bottom:15px; display:block;'}
                    })
                }}
                {#<input type="text" class="dateAt">#}
                {#<input type="text" class="dateTo">#}
            </div>
            <div class="col s6">
                {{ form_row(form.entity, {
                        'label': 'entité',
                        'attr': {'style': 'margin-bottom:15px; display:block;'}
                    })
                }}
            </div>
            <div class="col s12">
                {{ form_row(form.argument, {
                    'label': 'argument',
                    'attr': {'style': 'margin-bottom:15px; display:block;'}
                })
                }}
            </div>
            <div class="center-align form-save-customer">
                {{ form_row(form.save, {
                    'attr': {'style': 'display:none'}
                    })
                }}
                <button id="appbundle_customer_save" class=" col s12 btn waves-effect waves-light" type="submit" name="appbundle_customer[save]">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
    </div>
    {{ form_end(form) }}

{% endblock %}