{% extends '::base.html.twig' %}
{% block more_stylesheets %}
    <link rel="stylesheet" href="{{ asset('js/c3/c3.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('home') }}" class="breadcrumb">Home</a>
                <a href="{{ path('statistical_list') }}" class="breadcrumb">Liste statistiques</a>
            </div>
        </div>
    </nav>
    <div class="row mgr-T-15">
        <div class="col s12 co-js-size">
            <div  id="chart" data-static="{{ jsonQuater }}" style="width: 50%"></div>
        </div>
    </div>
    <div class="row mgr-T-15 co-js-size">
        <div class="col s12">
            <div  id="chart2" data-static="{{ jsonTopTenProduct }}" data-bar-explain-static="true" style="width: 50%"></div>
        </div>
    </div>
{% endblock %}

{% block more_js %}
    <script src="{{ asset('js/d3/d3.v3.min.js') }}"></script>
    <script src="{{ asset('js/c3/c3.min.js') }}"></script>
    <script src="{{ asset('js/graphStatic.js') }}"></script>
{% endblock %}